<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .form-group {
            position: relative;
        }

        .form-group input {
            padding-right: 3rem;
        }

        .toggle-password {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #6c757d;
            margin-left: 5px;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="main-body">
            <div class="row gutters-sm justify-content-center">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Profile Picture"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 th:text="${username}">John Doe</h4>
                                <form action="/upload-profile-picture" method="post" enctype="multipart/form-data">
                                    <label for="profilePicture" class="form-label">Upload nova foto</label>
                                    <input type="file" class="form-control" id="profilePicture" name="profilePicture">
                                    <button type="submit" class="btn btn-primary mt-2">Atualizar Foto</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <form action="/update-profile" method="post" id="editProfileForm">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="fullName" class="form-label">Nome Completo</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="fullName" name="nome"
                                            th:value="${username}" required>
                                        <div class="invalid-feedback" id="fullNameError" style="display:none;">
                                            Por favor, insira seu nome completo.
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="email" class="form-label">Email</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="email" name="email"
                                            th:value="${email}" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
                                        <div class="invalid-feedback" id="emailError" style="display:none;">
                                            Por favor, insira um email válido.
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="phone" class="form-label">Telefone</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="phone" name="telefone"
                                            th:value="${telefone}" required maxlength="10">
                                        <div class="invalid-feedback" id="phoneError" style="display:none;">
                                            Por favor, insira um número de telefone válido (apenas dígitos).
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="password" class="form-label">Nova Senha</label>
                                    </div>
                                    <div class="col-sm-9 form-group">
                                        <input type="password" class="form-control" id="password" name="senha" required>
                                        <i class="fas fa-eye toggle-password"
                                            onclick="togglePasswordVisibility(this)"></i>
                                        <div class="invalid-feedback" id="passwordError" style="display:none;">
                                            A senha é obrigatória.
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label for="confirmPassword" class="form-label">Confirmar Senha</label>
                                    </div>
                                    <div class="col-sm-9 form-group">
                                        <input type="password" class="form-control" id="confirmPassword"
                                            name="confirmSenha" required>
                                        <div class="invalid-feedback" id="confirmPasswordError" style="display:none;">
                                            As senhas não correspondem.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <div class="d-flex">
                                            <button type="submit" class="btn btn-primary me-2" id="submitButton">Salvar
                                                Alterações</button>
                                            <a class="btn btn-danger" th:href="@{/profile}">Voltar</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById('editProfileForm');
            const submitButton = document.getElementById('submitButton');
            const phoneInput = document.getElementById('phone');
            const emailInput = document.getElementById('email');
            const passwordInput = document.getElementById('password');
            const confirmPasswordInput = document.getElementById('confirmPassword');

            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Impede o envio padrão do formulário
                validateForm();
            });

            function validateForm() {
                let isValid = true; // Flag para rastrear a validade do formulário

                // Validar Nome Completo
                const fullNameInput = document.getElementById('fullName');
                const fullNameError = document.getElementById('fullNameError');
                if (fullNameInput.value.trim() === '') {
                    fullNameError.style.display = 'block';
                    fullNameInput.classList.add('is-invalid');
                    isValid = false;
                } else {
                    fullNameError.style.display = 'none';
                    fullNameInput.classList.remove('is-invalid');
                }

                // Validar Email
                const emailError = document.getElementById('emailError');
                if (!emailInput.checkValidity()) {
                    emailError.style.display = 'block';
                    emailInput.classList.add('is-invalid');
                    isValid = false;
                } else {
                    emailError.style.display = 'none';
                    emailInput.classList.remove('is-invalid');
                }

                // Validar Telefone
                const phoneError = document.getElementById('phoneError');
                if (phoneInput.value.length < 10) {
                    phoneError.style.display = 'block';
                    phoneInput.classList.add('is-invalid');
                    isValid = false;
                } else {
                    phoneError.style.display = 'none';
                    phoneInput.classList.remove('is-invalid');
                }

                // Validar Senha
                const passwordError = document.getElementById('passwordError');
                if (passwordInput.value.trim() === '') {
                    passwordError.style.display = 'block';
                    passwordInput.classList.add('is-invalid');
                    isValid = false;
                } else {
                    passwordError.style.display = 'none';
                    passwordInput.classList.remove('is-invalid');
                }

                // Validar Confirmar Senha
                const confirmPasswordError = document.getElementById('confirmPasswordError');
                if (confirmPasswordInput.value !== passwordInput.value) {
                    confirmPasswordError.style.display = 'block';
                    confirmPasswordInput.classList.add('is-invalid');
                    isValid = false;
                } else {
                    confirmPasswordError.style.display = 'none';
                    confirmPasswordInput.classList.remove('is-invalid');
                }

                if (isValid) {
                    form.submit(); // Enviar o formulário se for válido
                }
            }
        });

        function togglePasswordVisibility(icon) {
            const passwordInput = document.getElementById('password');
            const confirmPasswordInput = document.getElementById('confirmPassword');

            // Toggle para o campo de nova senha
            if (passwordInput.type === "password") {
                passwordInput.type = "text"; // Exibir a senha
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password"; // Ocultar a senha
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }

            // Toggle para o campo de confirmar senha
            if (confirmPasswordInput.type === "password") {
                confirmPasswordInput.type = "text"; // Exibir a senha
            } else {
                confirmPasswordInput.type = "password"; // Ocultar a senha
            }
        }
    </script>
</body>

</html>